.wp-block-safe-svg-svg-icon	{
	svg {
		display: block;
		height: auto;
		max-block-size: 100%;
		max-inline-size: 100%;
	}

	&.alignfull,
	&.alignwide {
		svg {
			width: 100%;
		}
	}

	&.aligncenter,
	&.alignleft,
	&.alignright {
		display: table;
	}
}
